<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coffee and Blogging</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div class="ui fixed inverted menu" id="menu">
      <div class="ui container">
        <div class="header item">
          <i class="coffee icon"></i>Coffee and Blogging
        </div>
        <a href="/blogs" class="item">Home</a>
        <a href="/blog/new" class="item">New Post</a>
      </div>
        <div class="item">
            <div class="ui inverted basic button"><a href="/signup">Sign Up</a></div>
        </div>
        <div class="item">
            <div class="ui inverted basic button"><a href="/login">Log In</a></div>
        </div>
      </div>
